<app-page-title [title]="'FAQs'"></app-page-title>
<div class="mb-5">
  <!-- start faq -->
  <div class="card sm:w-full md:w-1/2 bg-base-200 shadow-xl mx-auto text-left mt-5">
    <div class="card-body">
      <h2 class="card-title">Why isn't the company I'm searching for appearing?</h2>
      <p>There are a few reasons why this may occur:</p>
      <ul class="list-decimal ml-7">
        <li>The company is not publicly traded, or not regulated by the SEC. 8-K forms are only filed by US-based securities that are publicly traded.</li>
        <li>Their 8-K form has not been reviewed and added to the results.</li>
        <li>They have not filed an 8-K form yet, or chose not to file one at all.</li>
        <li>The 8-K form they filed during the SVB fallout was not related to SVB.</li>
      </ul>
      <p>If you think you found a mistake, please send a contact request.</p>
    </div>
  </div>
  <!-- end faq -->

  <!-- start faq -->
  <div class="card sm:w-full md:w-1/2 bg-base-200 shadow-xl mx-auto text-left mt-5">
    <div class="card-body">
      <h2 class="card-title">What is the search powered by?</h2>
      <p>The user interface is an <a class="link link-primary" href="https://angular.io/" target="_blank">Angular</a> frontend and uses <a class="link link-primary" href="https://algolia.com" target="_blank">Algolia</a> to power the search index.</p>
      <p>You can find the source code for this user interface and all of the supporting code for this project on <a class="link link-primary" href="https://github.com/makvoid/svb8k" target="_blank">GitHub</a>.</p>
    </div>
  </div>
  <!-- end faq -->
</div>