[Unit]
Description=Private API Handler for SVB-8K
After=network.target

[Service]
Environment=PORT=3000
Environment=ALGOLIA_APP_ID=AAAAA
Environment=ALGOLIA_API_KEY=abcd1234
Environment=MONGO_URI="mongodb://0.0.0.0"
Environment=MONGO_DB=dbname
Environment=NODE_ENV=development
Type=simple
User=web-user
ExecStart=/usr/bin/node /opt/private-api/src/server.js
Restart=on-failure

[Install]
WantedBy=multi-user.target